# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/

# VS Code
.vscode/


models/*.pkl
venv/
__pycache__/
.ipynb_checkpoints/

models/*.pkl